
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #55b3b1;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #55b3b1;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 30px auto;

}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}
tr:hover {background-color:#cdd0cb;}
th {
  background-color: #11cdd4;
  color: white;
}
.profile-pic{
  width: 170px;
  height: 170px;
}
.topcontainer{
  background-color: #adeecf;
  position:relative;
  padding-top: 100px;

}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.school{
  height: 170px;
  width: 170px;
}

.exam{
  height: 170px;
  width: 170px;
}
.dice{
  width: 40%;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;


  }
.pro{
  text-decoration: underline;
}

.intro{
  width:30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-cloud{
  position: absolute;
  right: 450px;
  top:20px;

}

.plane1{
  position: absolute;
  height: 120px;
  width: 120px;
  left:150px;
  top: 250px;
}

.plane2{
  position: absolute;
  height: 120px;
  width: 120px;
  right: 150px;
  top: 100px;
}

.owl{
  position: absolute;
  height: 80px;
  width: 80px;
  right: 440px;
  top: 140px;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;

}

.mountain1{
  position: absolute;
  right: 200px;
  width: 500px;
  height: 300px;
  bottom: 5px;

}

.mountain2{
  position: absolute;
  left: 200px;
  height:250px;
  width:500px;
  bottom: 5px;
}

a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
.computer{
  width:25%;
  float: left;
  margin-right: 30px;
}
.chilli{
  width:25%;
  float: right;
  margin-left: 30px;

}
.web-developer{
  top: auto;
  float: left;
}
.t1{
  margin: 0;
}
.t1 tr:hover{
color: #11698e;
}
.t2 a:hover{
  color:#11698e;
}
hr{

  border-style:none;
  border-top-style: dotted;
  height:0;
  width: 5%;
  border-color: gray;
  border-width: 10px;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
